
html,body,.container-fluid {
  height:100%;
}

.ngram-col {
  text-align: center;
  padding-top: 30%;
  padding-bottom: 30%;

}

.ngram-col p {
  text-shadow: 3px 3px 1px #eeeeee;
  font-size: 48pt;
  font-weight: 700;
  font-variant: small-caps;
}

.center {
  text-align: center;
  list-style-position: inside;
  font-size: 4em;
}

.center li {
  font-size: 0.75em;
}

.middle-row-vote-page {
  padding-top: 100px;
  padding-bottom: 100px;
  font-variant: small-caps;
  text-align: center;
  background-color: lightgray;
}

.floater-voter {
  position: fixed;
  border-radius: 10px;
  bottom: 20px;
  padding: 20px 10px 10px 10px;
  font-weight: 900;
  left: 30%;
  right: 30%;
  font-style: italic;
  background-color: rgba(200, 200, 200, 0.7)
}

.floater-voter p {
  text-align: center;
  font-size: 1.5em;
}

#vote-now {
  margin-top: 20px;
  font-size: 3em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#leaderboard>tbody>tr:nth-child(3) {
  background-color: lightgoldenrodyellow;
}